/* ======== Estilos Generales ======== */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        }

header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    flex: 1;
        }

header img {
    margin-right: 20px;
 }


/* ===== Contenedor del formulario ===== */
.container {
    max-width: 400px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #c00000;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #c00000;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}

/* ===== Links ===== */
.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #c00000;
    text-decoration: none;
}

/* ===== Footer ===== */
footer {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 15px;
    margin-top: 40px;
}
